
#sol{
	background-color: #FFFF00;
	border-radius: 50%;
	position: absolute;
	width: 100px;
	height: 100px;
	top: 25px;
	left: 15px;
	display: inline-block;
}

#humo1 {
	background-color: grey;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 660px;
    top: 297px;
}

#humo2 {
    background-color: grey;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 673px;
    top: 285px;
}

#chimenea{
	display: inline-block;
    background-color: tomato;
    width: 34px;
    height: 80px;
    position: fixed;
    left: 634px;
    top: 315px;

}

#techo{

	border-bottom: 118px solid black;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0px;
    width: 285px;
    position: absolute;
    left: 380px;
    top: 302px;
}

#pared{
	display: inline-block;
    position: absolute;
    background-color: #3D2000;
    width: 385px;
    height: 210px;
    left: 380px;
    top: 420px;
}

#ventana {
	background-color: #EF89C0;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 620px;
    top: 470px;

}

#puerta{
    background-color: #4C4644;
    width: 129px;
    height: 172px;
    position: absolute;
    left: 424px;
    top: 458px;

}

#corazon{
	background-color: #ED0C1E;
    position: absolute;
    left: 439px;
    top: 490px;

}

#corazon:before,
#corazon:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#corazon:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
#pasto{
	background-color: #008000;
	width: 1800px;
    height: 140px;
	position: fixed;
	top: 560px;
	left: -10px;
}

.patio{
	position: fixed;
    left: 765px;
    top: 530px;
    
}

#suelo{
	background-color: #236F1B;
    width: 452px;
    height: 68px;
    position: absolute;
    top: 32px;
}

#mesa{
	background-color: #CCCCCC;
    width: 100px;
    height: 24px;
    position: absolute;
    top: -6px;
    left: 15px;
}

#pata1 {
	position: absolute;
    background-color: #7F7F7F;
    width: 24px;
    height: 75px;
    top: 18px;
    left: 15px;
}

#pata2 {
	position: absolute;
    background-color: #7F7F7F;
    width: 24px;
    height: 75px;
    top: 18px;
    left: 91px;
}